* {
	outline: none;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	color: #000;
}
ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	/* background-color: #000; */
	background: #1C1C1D;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	padding: 20px;
}

.avatar {
	display: flex;
	max-width: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 40px;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
}

.links {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	margin: 0 auto;
}

.links a {
	color: #fff;
	background: #2C2C2D;
	padding: 8px 10px;
	border-radius: 8px;
	text-decoration: none;
	display: flex;
	justify-content: center;

}

.links a:not(:last-of-type) {
	margin-bottom: 8px;
}